.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
   height: 100%;
  box-sizing: border-box;
}

.card {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.card h2 {
  margin-bottom: 10px;
  color: #4a148c;
}

.card p {
  margin-bottom: 30px;
  color: #555;
  font-size: 16px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  background-color: #8e24aa;
  color: white;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #ab47bc;
  transform: scale(1.05);
}
